rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.uid == "Nr9cUiUqa7cGxyW04qEmd5jEISI3";
    }

    // Club Hub is public-facing.
    match /{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
